

body{
  font-family: 'Open Sans', sans-serif;

}




/* smartphone */

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .grid{
      margin:0 auto;
      max-width: 480px;
      width: 100%;
  }


  .row{
      width: 100%;
      display: flex;
      margin-bottom: 20px;
     }


  /* header */
  .logo{
      width: 100%;
      height: 100%;
      margin:1%;
      font-size: 5em;
      color: #02b3e4;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
   }


  .h-line{
    border-bottom: 3px solid #7d97ad;

  }


  .name{
    text-align: right;
    color:#2d3c49;
  }


  h2{
    font-size: 1em;
  }


  /*main-page*/
  .featured-work{
      color: #7d97ad;
  }


  .box-container{
      text-align: center;
      display: flex;
      flex-wrap: wrap;


  }


  .title{
    width: 80%;
    margin: 20px;
  }


  .top-image{
     max-width:100%;
     margin: auto;
     border: 1px gray solid;
   }


  /*projects*/
  h4{
    color:#2d3c49;
  }




  .project-img{
    margin: 1%;
    width: 50%;
    margin: auto;
    border: 1px #7d97ad solid;
  }
}

@media screen and (min-width: 481px) and (max-width:768px) {
  .grid{
      margin:0 auto;
      max-width: 768px;
      width: 100%;
  }


  .row{
      width: 100%;
      display: flex;
      margin-bottom: 20px;
     }


  /* header */
  .logo{
      width: 100%;
      height: 100%;
      margin:1%;
      font-size: 5em;
      color: #02b3e4;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
   }


  .h-line{
    border-bottom: 3px solid #7d97ad;

  }


  .name{
    text-align: right;
    color:#2d3c49;
  }


  h2{
    font-size: 1em;
  }


  /*main-page*/
  .featured-work{
      color: #7d97ad;
  }


  .box-container{
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;


  }


  .title{
    width: 80%;
    margin: 20px;
  }


  .top-image{
     max-width:80%;
     margin: auto;
     border: 1px gray solid;
   }


  /*projects*/
  h4{
    color:#2d3c49;
  }




  .project-img{
    margin: 1%;
    width: 70%;
    margin: auto;
    border: 1px #7d97ad solid;
  }
}
@media screen and (min-width: 769px) {
  .grid{
      margin:0 auto;
      max-width: 480px;
      width: 50%;
  }


  .row{
      width: 100%;
      display: flex;
      margin-bottom: 20px;
     }


  /* header */
  .logo{
      width: 100%;
      height: 100%;
      margin:1%;
      font-size: 5em;
      color: #02b3e4;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
   }


  .h-line{
    border-bottom: 3px solid #7d97ad;

  }


  .name{
    text-align: right;
    color:#2d3c49;
  }


  h2{
    font-size: 1em;
  }


  /*main-page*/
  .featured-work{
      color: #7d97ad;
  }


  .box-container{
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

  }


  .title{
    width: 80%;
    margin: 20px;
  }


  .top-image{
     max-width:70%;
     margin: auto;
     border: 1px gray solid;
   }


  /*projects*/
  h4{
    color:#2d3c49;
  }




  .project-img{
    margin: 10%;
    padding: 20px;
    width: 30%;
    margin: auto;
    border: 1px #7d97ad solid;
  }
}
